@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <p>A webpage to store all your favorite scriptures and be nurtured by the word of God.</p>
    <img src="https://i0.wp.com/www.ldsdaily.com/wp-content/uploads/2022/04/Come-Follow-Me-Recap-The-Ten-Commandments-24-April-2022.jpg?resize=768%2C384&ssl=1" alt="scriptures image" />
</div>
